In [1]:
import pandas as pd

#### Identify periods of flexible time in a person's daily life

In [2]:
# Load data
stops = pd.read_csv('../Data/Scenarios_Synthetic_Data.csv', index_col=0)

# Shift the fixed activity type and store as new column
stops['fa_shift'] = stops.groupby('person_id')['fixed_activity'].shift(-1)
# Shift the travel type and store as new column
stops['tt_shift'] = stops.groupby('person_id')['travel_type'].shift(-1)
# Retain only rows in which the current and next immediate points in a person's trajectory are not fixed
nonfixed = stops[(stops['fixed_activity'] == 'n') | (stops['fa_shift'] == 'n')]

In [5]:
nonfixed[nonfixed['person_id'] == 50]

,person_id,latlon,time,time_shift,sequence,poi_type,activity_type,travel_type,fixed_activity,time_available,fa_shift,tt_shift
index,,,,,,,,,,,,
846,50,"35.9209706249943, -83.92200228622752",3/12/2022 10:17,3/12/2022 10:20,20,food_bank,personal,stay,y,3,n,walk
847,50,"35.921644425964494, -83.9217572914168",3/12/2022 10:20,3/12/2022 16:00,21,home,home,walk,n,340,y,stay

In [8]:
nonfixed

,person_id,latlon,time,time_shift,sequence,poi_type,activity_type,travel_type,fixed_activity,time_available,fa_shift,tt_shift
index,,,,,,,,,,,,
13,1,"36.037151547762804, -83.88836923955422",3/12/2022 15:20,3/12/2022 15:27,13,pharmacy,shop,stay,y,7,n,drive
14,1,"36.031335617114486, -83.86637642643856",3/12/2022 15:27,3/12/2022 16:59,14,grocery,shop,drive,n,92,n,stay
15,1,"36.031335617114486, -83.86637642643856",3/12/2022 16:59,3/12/2022 17:11,15,grocery,shop,stay,n,12,n,drive
16,1,"36.017275180220686, -83.9789496929944",3/12/2022 17:11,3/12/2022 19:00,16,home,home,drive,n,109,y,stay
22,2,"35.98349169566448, -83.86571214720897",3/11/2022 11:41,3/11/2022 11:51,4,garden,social,stay,y,10,n,drive
...,...,...,...,...,...,...,...,...,...,...,...,...
877,52,"35.94836293008667, -83.91029919331599",3/12/2022 10:02,3/12/2022 10:12,11,home,home,stay,y,10,n,drive
878,52,"35.932805740594794, -83.90657865440662",3/12/2022 10:12,3/12/2022 10:53,12,store,shop,drive,n,41,n,stay
879,52,"35.932805740594794, -83.90657865440662",3/12/2022 10:53,3/12/2022 11:03,13,store,shop,stay,n,10,n,drive
880,52,"35.94836293008667, -83.91029919331599",3/12/2022 11:03,3/12/2022 13:44,14,home,home,drive,n,161,n,stay
881,52,"35.94836293008667, -83.91029919331599",3/12/2022 13:44,3/12/2022 13:57,15,home,home,stay,n,13,y,drive

In [12]:
# Placeholders
nonfixed_list = []
nonfixed_dict = {}
time_available = 0

for idx, row in nonfixed.iterrows():
    
    # Beginning location of non-fixed period
    if (row['fixed_activity'] == 'y') & (row['fa_shift'] == 'n'):
        time_available = 0
        nonfixed_dict['person_id'] = row['person_id']
        nonfixed_dict['latlon_start'] = row['latlon']
        nonfixed_dict['free_time_start'] = row['time_shift']
        if (row['tt_shift'] == 'stay'):
            nonfixed_dict['travel_type'] = stops[(stops['person_id'] == row['person_id']) & (stops['travel_type'] != 'stay')]['travel_type'].mode()[0]
        else:
            nonfixed_dict['travel_type'] = row['tt_shift']
    
    # During non-fixed period
    elif (row['fixed_activity'] == 'n') & (row['fa_shift'] == 'n'):
        # Add duration
        time_available += row['time_available']
    
    # Ending location of non-fixed period
    elif (row['fixed_activity'] == 'n') & (row['fa_shift'] == 'y'):
        nonfixed_dict['latlon_end'] = row['latlon']
        nonfixed_dict['free_time_end'] = row['time_shift']
        
        # Calculate amount of free-time beginning from every person's non-fixed activity locations until their next fixed activity
        time_available += row['time_available']
        nonfixed_dict['time_available'] = time_available
        nonfixed_list.append(nonfixed_dict)
        # Reset dictionary for next set of non-fixed period
        nonfixed_dict = {}

nonfixed_df = pd.DataFrame(nonfixed_list)
nonfixed_df = nonfixed_df[~nonfixed_df['time_available'].isna()]
nonfixed_df
#nonfixed_df.to_csv('../Data/Scenarios_Synthetic_Data_Nonfixed_Times.csv')

,person_id,latlon_start,free_time_start,travel_type,latlon_end,free_time_end,time_available
0,1,"36.037151547762804, -83.88836923955422",3/12/2022 15:27,drive,"36.017275180220686, -83.9789496929944",3/12/2022 19:00,213
1,2,"35.98349169566448, -83.86571214720897",3/11/2022 11:51,drive,"35.984050920293654, -83.86389072399044",3/11/2022 12:11,20
2,2,"35.98609435245885, -83.87576239278165",3/12/2022 10:11,drive,"35.98609435245885, -83.87576239278165",3/12/2022 18:00,469
3,3,"35.95808867715242, -83.90426963986357",3/12/2022 11:59,walk,"35.95808867715242, -83.90426963986357",3/12/2022 17:00,301
4,4,"35.934019762725534, -84.07721548710211",3/11/2022 7:37,drive,"35.91882993729321, -84.0849734823089",3/11/2022 16:22,525
...,...,...,...,...,...,...,...
89,49,"36.115853432569125, -83.84687525427256",3/12/2022 13:21,drive,"36.09298191895682, -83.91772071314563",3/12/2022 14:51,90
90,50,"35.9209706249943, -83.92200228622752",3/12/2022 10:20,walk,"35.921644425964494, -83.9217572914168",3/12/2022 16:00,340
91,51,"35.989834534715314, -83.88727893651156",3/12/2022 19:36,drive,"36.019933887029055, -83.90746798386454",3/12/2022 21:00,84
92,52,"35.975120762595296, -83.91538082696736",3/11/2022 19:15,drive,"35.94836293008667, -83.91029919331599",3/11/2022 20:00,45
93,52,"35.94836293008667, -83.91029919331599",3/12/2022 10:12,drive,"35.94836293008667, -83.91029919331599",3/12/2022 13:57,225

In [13]:
# Separate latitude and longitude columns for both start and end locations

latlons_list = []
latlons = {}

for idx, row in nonfixed_df.iterrows():
    latlons['lat_start'], latlons['lon_start'] = row['latlon_start'].split(',')
    latlons['lat_end'], latlons['lon_end'] = row['latlon_end'].split(',')
    latlons_list.append(latlons)
    latlons = {}

latlons_df = pd.DataFrame(latlons_list)
nonfixed_df = pd.merge(nonfixed_df, latlons_df, left_index=True, right_index=True)
nonfixed_df.to_csv('../Data/Scenarios_Synthetic_Data_Nonfixed_Times.csv')
nonfixed_df

,person_id,latlon_start,free_time_start,travel_type,latlon_end,free_time_end,time_available,lat_start,lon_start,lat_end,lon_end
0,1,"36.037151547762804, -83.88836923955422",3/12/2022 15:27,drive,"36.017275180220686, -83.9789496929944",3/12/2022 19:00,213,36.037151547762804,-83.88836923955422,36.017275180220686,-83.9789496929944
1,2,"35.98349169566448, -83.86571214720897",3/11/2022 11:51,drive,"35.984050920293654, -83.86389072399044",3/11/2022 12:11,20,35.98349169566448,-83.86571214720897,35.984050920293654,-83.86389072399044
2,2,"35.98609435245885, -83.87576239278165",3/12/2022 10:11,drive,"35.98609435245885, -83.87576239278165",3/12/2022 18:00,469,35.98609435245885,-83.87576239278165,35.98609435245885,-83.87576239278165
3,3,"35.95808867715242, -83.90426963986357",3/12/2022 11:59,walk,"35.95808867715242, -83.90426963986357",3/12/2022 17:00,301,35.95808867715242,-83.90426963986357,35.95808867715242,-83.90426963986357
4,4,"35.934019762725534, -84.07721548710211",3/11/2022 7:37,drive,"35.91882993729321, -84.0849734823089",3/11/2022 16:22,525,35.934019762725534,-84.07721548710211,35.91882993729321,-84.0849734823089
...,...,...,...,...,...,...,...,...,...,...,...
89,49,"36.115853432569125, -83.84687525427256",3/12/2022 13:21,drive,"36.09298191895682, -83.91772071314563",3/12/2022 14:51,90,36.115853432569125,-83.84687525427256,36.09298191895682,-83.91772071314563
90,50,"35.9209706249943, -83.92200228622752",3/12/2022 10:20,walk,"35.921644425964494, -83.9217572914168",3/12/2022 16:00,340,35.9209706249943,-83.92200228622752,35.921644425964494,-83.9217572914168
91,51,"35.989834534715314, -83.88727893651156",3/12/2022 19:36,drive,"36.019933887029055, -83.90746798386454",3/12/2022 21:00,84,35.989834534715314,-83.88727893651156,36.019933887029055,-83.90746798386454
92,52,"35.975120762595296, -83.91538082696736",3/11/2022 19:15,drive,"35.94836293008667, -83.91029919331599",3/11/2022 20:00,45,35.975120762595296,-83.91538082696736,35.94836293008667,-83.91029919331599
93,52,"35.94836293008667, -83.91029919331599",3/12/2022 10:12,drive,"35.94836293008667, -83.91029919331599",3/12/2022 13:57,225,35.94836293008667,-83.91029919331599,35.94836293008667,-83.91029919331599